* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
  /* outline: 1px solid red; */
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("./images/background.avif") no-repeat center / cover;
  color: white;
}

section {
  margin: 1rem;
}

section:not(#navbar, #main) {
  margin-top: 3.6rem;
}

section > h1 {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

section > p {
  line-height: 1.8;
}

section > h2 {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 3.2rem;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.4rem;
  border-bottom: 2px solid white;
}

#logo {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

#searchButton {
  height: 20px;
  margin-right: 0.4rem;
}

#searchButton > svg {
  fill: white;
  height: 20px;
  width: 20px;
}

#quotesWrapper {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}

.quotes {
  display: flex;
  flex-direction: column;
  background-color: gray;
  height: fit-content;
  width: 24vw;
  margin-top: 2.6rem;
  border-radius: 12px;
  padding: 2rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.quotes > svg {
  padding-left: -1rem;
  height: 2rem;
  width: 1rem;
}

.quote-by {
  margin-top: 1rem;
  text-align: end;
}

.quote-by::before {
  content: "— ";
}

#new-quote[contenteditable="true"] {
  outline: none;
}

#quote-ref {
  display: flex;
  justify-content: center;
  margin: 1.4rem;
}

#quote-ref > a {
  color: inherit;
}

#main {
  margin-top: 6rem;
  margin-bottom: 0;
  border-radius: 12px;
}

#main > h1 {
  text-align: center;
  padding-top: 2rem;
  font-size: 2.6rem;
}

.planetContainer {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.planetContainer > img {
  margin: auto 0;
}

.info > h1 {
  font-size: 2rem;
  display: flex;
  gap: 1rem;
  width: fit-content;
}

.info {
  width: 70%;
  max-width: 500px;
  line-height: 1.6;
}

.info > h1 > span {
  font-size: 1rem;
  background-color: #777;
  padding: 0.3rem 0.6rem;
  margin: auto;
  border-radius: 16px;
}

.info span {
  display: block;
}

.info p {
  margin-top: 1rem;
}

#nextWrapper {
  display: flex;
  justify-content: center;
  padding: 2rem;
  width: 100%;
}

#next {
  background-color: #ff6940;
  font-size: 1rem;
  padding: 1rem;
  width: 60%;
  color: inherit;
  text-align: center;
  text-decoration: none;
}

#next:hover {
  text-decoration: underline;
}

footer {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  user-select: none;
}

footer span {
  text-decoration: underline;
  cursor: pointer;
  margin-left: 1rem;
}

@media (max-width: 600px) {
  #quotesWrapper {
    flex-direction: column;
    align-items: center;
  }

  .quotes {
    width: 75vw;
  }

  .planetContainer {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .info {
    width: 100%;
  }

  .idea-info > p {
    font-size: 1rem !important;
  }
}

/* Styles for spacecrafted */

#popup {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

#title {
  text-align: center;
  margin: 2rem;
  margin-bottom: 4rem;
  font-size: 2.8rem;
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
    0 0 10px rgba(255, 255, 255, 0.5);
}

.ideasWrappers {
  display: flex;
  background-color: rgba(0, 0, 0, 0.75);
  height: 32rem;
  margin-bottom: 2rem;
}

.ideasWrappers:nth-child(2n + 1) {
  flex-direction: row-reverse;
}

.idea-info {
  width: 100%;
}

.idea-info h1 {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}

.idea-info p {
  padding: 0.4rem;
  line-height: 1.8;
  padding: 2rem;
  font-size: 1.4rem;
}

.quizWrapper {
  background-color: #333;
  border-radius: 12px;
  margin: 2rem;
  width: fit-content;
  padding: 2rem;
}

.quizWrapper svg {
  height: 2.8rem;
  width: 2.8rem;
  background-color: #666;
  padding: 0.4rem;
  border-radius: 50%;
}

.quizTitleWrapper {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.quizQuestion {
  display: flex;
  font-size: 1.6rem;
  margin-top: 2rem;
}

.quizSubmitButtonsWrapper {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  gap: 0.8rem;
  width: fit-content;
}

.quizSumitButtons {
  background-color: #111;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0.8rem;
  min-width: 5rem;
  text-align: center;
  border-radius: 12px;
  user-select: none;
  border: 2px solid #666;
  cursor: pointer;
  font-size: 0.9rem;
}

.quizSumitButtons:hover {
  border: 2px solid #888;
}

.wrong {
  background-color: red;
  border: 2px solid #333;
}

.correct {
  background-color: green;
  border: 2px solid #333;
}

.wrong:hover {
  border: 2px solid #333;
}

.correct:hover {
  border: 2px solid #333;
}

.references {
  padding: 1rem 2rem;
}

.references > span {
  font-weight: 900;
}

.references a {
  color: inherit;
}

@media (max-width: 1555px) {
  .ideasWrappers {
    height: fit-content;
    width: 80vw;
    flex-direction: column-reverse !important;
  }

  #spacecrafted-root {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
